@using Coldew.Website;
@using Coldew.Website.Models;
@{
    ViewBag.Title = "创建字段";
    Layout = "~/Views/Setup/Layout.cshtml";
}

<p class="lead">选择字段类型</p>
<table class="table">
    <thead>
        <tr>
            <th>字段类型</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateStringField"), this.Request["objectId"], this.Request["returnUrl"])"">短文本</a></td>
            <td>允许用户输入单行文字。</td>
        </tr>
        <tr>
            <td><a href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateTextField"), this.Request["objectId"], this.Request["returnUrl"])"">长文本</a></td>
            <td>允许用户输入多行文字。</td>
        </tr>
        <tr>
            <td><a href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateDropdownListField"), this.Request["objectId"], this.Request["returnUrl"])"">下拉选项</a></td>
            <td>允许用户从定义的下拉列表中选择值。</td>
        </tr>
        <tr>
            <td><a href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateCheckboxListField"), this.Request["objectId"], this.Request["returnUrl"])"">复选框</a></td>
            <td>允许用户从定义的选择框中选择多个值。</td>
        </tr>
        <tr>
            <td><a href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateRadioboxListField"), this.Request["objectId"], this.Request["returnUrl"])"">单选框</a></td>
            <td>允许用户从定义的选择框中选择单个值。</td>
        </tr>
        <tr>
            <td><a href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateDateField"), this.Request["objectId"], this.Request["returnUrl"])"">日期</a></td>
            <td>允许用户输入日期。</td>
        </tr>
        <tr>
            <td><a href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateNumberField"), this.Request["objectId"], this.Request["returnUrl"])"">数字</a></td>
            <td>允许用户输入数字。</td>
        </tr>
    </tbody>
</table>