@using Coldew.Website;
@{
    ViewBag.Title = "创建客户区域";
    Layout = "~/Views/Setup/Layout.cshtml";
}

<p class="lead">创建客户区域</p>
<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" />

    <div class="control-group">
        <label class="control-label" >名称<font style="color: Red">*</font></label>
        <div class="controls">
            <input type="text" id="txtAreaName" name="name" class="input-xlarge" data-required="true"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >负责人</label>
                
        <div class="controls">
            @this.Html.Raw(WebHelper.UsersCheckboxList("managerAccounts", false, false))
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="btnSave" type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
            <button id="btnCancel" type="button" class="btn">取消</button>
        </div>
    </div>
</form>
<script language="javascript" type="text/javascript">
var editModel = @this.Html.Raw(this.ViewBag.editModelJson);
$("#editForm").validate({
    sendForm : false,
    onBlur: true,
    onChange: true,
	eachValidField : function() {
		$(this).closest('.control-group').removeClass('error');
        $(this).next('.help-inline').hide();
	},
	eachInvalidField : function() {
		$(this).closest('.control-group').addClass('error');
        $(this).next('.help-inline').show();
	},
    valid: function(){
        var formValue = $("#editForm").getFormValue();
            
        $("#btnSave").button("loading");
        $.post("@this.Url.Action("EditCustomerArea")", {json: $.toJSON(formValue)}, function(data){
            $("#btnSave").button("reset");
            if(data.result == 0){
                location = "@this.Url.Action("CustomerArea")";
            }
            else{
                alert(data.message);
            }
        });
    }
});
$("#editForm").setFormValue(editModel);
$("#btnCancel").click(function(){
    location = "@this.Url.Action("CustomerArea")";
});
</script>
