@using Coldew.Website.Models;
@{
    Layout = "~/Views/Metadata/Layout.cshtml";
    this.ViewBag.LeftMenu = "Import";
}

<div class="row-fluid">
    <div class="span2">
        <p class="lead">@this.ViewBag.Title</p>
    </div>
    <div class="span10">
        <button id="btnImport" class="btn"><i class="icon-plus"></i>导入</button> 
    </div>
</div>

<div id="metadataGrid">
    
</div>
        
<div id="pager" class="pull-right" style="height: 30px">
            
</div>
<script type="text/javascript" language="javascript">
    var objectId = "@this.Request["objectId"]";
    var tempFileName = "@this.Html.Raw(this.Request["tempFileName"])";
    var metadataGrid = $("#metadataGrid").datagrid({
		columns: @this.Html.Raw(this.ViewBag.columnsJson),
        height: "auto",
		canSort: false,
		singleSelect: false,
		showNumberRow: true,
        selectedRow: function(){
            //btnZhipai.prop("disabled", false);
        },
        unselectedRow: function(){
//            var rows = metadataGrid.datagrid("getSelectedRows");
//            btnZhipai.prop("disabled", rows.length == 0);
        }
	});

    $("#pager").pager({change: function(event, args){
        loadMetadataGrid(args.start);
    }});

    function loadMetadataGrid(start, cb){
        var args = {start: start, size: 20, tempFileName: tempFileName};
        $.get("@this.Url.Action("GetImportMetadatas")", args, function(model){
            if(cb){
                cb();
            }
            if(model.result == 0){
                $("#metadataGrid").datagrid("option", "data", model.data.list);
                $("#pager").pager("option", "pageInfo", {start: start, size: 20, count: model.data.count})
            }
            else{
                alert(model.message)
            }
        });
    }
    loadMetadataGrid(0);

    $("#btnImport").click(function(){
        $("#btnImport").button("loading");
        $.post("@this.Url.Action("Import")", {tempFileName: tempFileName, objectId: objectId}, function(model){
            $("#btnImport").button("reset");
            if(model.result == 0){
                loadMetadataGrid(0);
            }
            else{
                alert(model.message)
            }
        });
    });
</script>
