@using Coldew.Website;
@using Coldew.Website.Models;
@using Coldew.Api.UI;
@{
    Layout = "~/Views/Metadata/Layout.cshtml";
    this.ViewBag.LeftMenu = "Create";
}

<script type="text/javascript" src='@this.Url.Content("~/js/coldewForm.js")'></script>
<h3>@this.ViewBag.Title</h3>
<form class="form-horizontal" id="createCustomerForm">
    <div id="coldewForm" ></div>
    <div class="form-group">
        <div class='col-sm-4'></div>
        <div class='col-sm-8'>
            <button id="btnCreate" type="submit" class="btn btn-primary" data-loading-text="保存中...">创建</button>
            <button id="btnCancelCreate" type="button" class="btn btn-default">取消</button>
        </div>
    </div>
</form>

<script language="javascript" type="text/javascript">
    var objectId = "@Request["objectId"]";
    var formModel = @this.Html.Raw(this.ViewBag.formModelJson);
    $("#btnCreate").click(function(){
        if(coldewForm.validate()){
            $("#btnCreate").button("loading");
            var formValue = coldewForm.getValue();
            $.post("@this.Url.Action("Create")", {objectId: objectId, json: $.toJSON(formValue)}, function(data){
                $("#btnCreate").button("reset");
                if(data.result == 0){
                    location = "@this.Html.Raw(this.Url.Action("Index", new { objectId = Request["objectId"], viewId = Request["viewId"] }))";
                }
                else{
                    alert(data.message);
                }
            });
        }
        return false;
    });
    $("#btnCancelCreate").click(function(){
        location = "@this.Html.Raw(this.Url.Action("Index", new { objectId = Request["objectId"], viewId = Request["viewId"] }))";
        return false;
    });
    var coldewForm = $("#coldewForm").coldewForm({controls: formModel.controls}).data("coldewForm");
</script>