@using Coldew.Website;
@using Coldew.Api.UI;
@using Coldew.Website.Models;
@using Coldew.Api;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.TopMenu = "Metadata";
}

<script type="text/javascript" src='@this.Url.Content("~/js/coldewForm.js")'></script>
<div class="container-fluid">
    <h3 style="text-align:center">详细信息</h3>
    <form class="form-horizontal" id="editMetadataForm">
        <div id="coldewForm" ></div>
    </form>
</div>

<script language="javascript" type="text/javascript">
    var objectId = "@Request["objectId"]";
    var formModel = @this.Html.Raw(this.ViewBag.formModelJson);
    var metadataId = "@Request["metadataId"]";
    var metadataInfo = @this.Html.Raw(this.ViewBag.metadataInfoJson);
    
    var coldewForm = $("#coldewForm").coldewForm({controls: formModel.controls}).data("coldewForm");
    coldewForm.setValue(metadataInfo);
    coldewForm.setReadonly(true);
</script>