@using Coldew.Api.UI;
@using Coldew.Api;
@using Coldew.Website;
@{
    FormInfo formInfo = this.ViewBag.formInfo;
    ColdewInput crmInput = WebHelper.ColdewInputFactory.CreateInput(false);
}
@foreach (SectionInfo sectionInfo in formInfo.Sections)
{
<fieldset>
    <legend>@sectionInfo.Title</legend>
    @for (int count = 0; count < sectionInfo.Fields.Count; ++count)
    {
        if (count % sectionInfo.ColumnCount == 0)
        {
            @this.Html.Raw("<div class='row-fluid'>");
        }
        FieldInfo field = sectionInfo.Fields[count];
        string inputClass = "";
        if (sectionInfo.ColumnCount == 1)
        {
            inputClass = "class='input-xxlarge'";
        }
        string spanClass = "span";
        if (sectionInfo.ColumnCount == 1)
        {
            spanClass += "12";
        }
        else
        {
            spanClass += "6";
        }
    <div class="@spanClass">
    @crmInput.Input(field, inputClass)
    </div>
        if (count % sectionInfo.ColumnCount == 1 ||
            count == sectionInfo.Fields.Count - 1)
        {
            @this.Html.Raw("</div>");
        }
    }
</fieldset>
}

