@using Coldew.Api;
@using Coldew.Website;
@{
    ColdewObjectInfo coldewObject = this.ViewBag.coldewObject;
    ColdewSearchInput crmSearchInput = WebHelper.ColdewInputFactory.CreateSearchInput();
}
@for (int count = 0; count < coldewObject.Fields.Count; ++count)
{
    if (count % 2 == 0)
    {
        @this.Html.Raw("<div class='row'>");
    }
    FieldInfo field = coldewObject.Fields[count];
    if (!field.PermissionValue.HasFlag(FieldPermissionValue.View))
    {
        continue;
    }
<div class="col-sm-6">
    <div class="form-group">
        <label class="col-sm-4 control-label">
            @field.Name
        </label>
        <div class="condition col-sm-8" data-field-code="@field.Code">
        @crmSearchInput.Input(field)
        </div>
    </div>
</div>
    if(count % 2 == 1)
    {
        @this.Html.Raw("</div>");
    }
}
<div class="row">
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">关键字</label>
        <div class="col-sm-8">
            <input type="text" class="keyword form-control" name="keyword" />
        </div>
    </div>
</div>