@using Coldew.Website;
@using Coldew.Website.Models;
@using Coldew.Api;
@{
    Layout = "~/Views/Setup/Layout.cshtml";
}
<div class="row-fluid">
    <div class="span3">
        <p class="lead">@this.ViewBag.Title</p>
    </div>
    <div class="span9">
        <a id="btnAdd" class="btn" href="@string.Format("{0}?objectId={1}&returnUrl={2}", this.Url.Action("CreateField"), this.Request["objectId"], this.Request.Url)"><i class="icon-plus"></i>添加</a> 
        <button id="btnDelete" class="btn" disabled="disabled" ><i class="icon-trash"></i>删除</button>
        <button id="btnRefresh" class="btn" ><i class="icon-refresh"></i>刷新</button>
    </div>
</div>

<div id="extendGrid">
                
</div>
<script type="text/javascript" language="javascript">
    var objectId =  "@this.Request["objectId"]";
    var extendGrid = $("#extendGrid").datagrid({
		columns:[
			{title: "字段名称", width: 180, field:"name", render: function(row, args){
                return "<a href='"+args.data.editLink+"'>" + args.value + "</a>";
			}},
			{title: "字段类型", width: 100, field:"type"},
			{title: "是否必填", width: 60, field:"required"},
			{title: "顺序", width: 50, field:"index"}
		],
		canSort: false,
		singleSelect: false,
		showNumberRow: true,
        selectedRow: function(){
            $("#btnDelete").prop("disabled", false);
        },
        unselectedRow: function(){
            var rows = extendGrid.datagrid("getSelectedRows");
            $("#btnDelete").prop("disabled", rows.length == 0);
        }
	});

    $("#btnDelete").click(function(){
        if(!confirm("确实要删除吗?"))
        {
            return false;
        }
        var rows = $("#extendGrid").datagrid("getSelectedRows");
        var fieldIds = $.map(rows, function(row){
            return row.datarow("option", "data").id;
        })
        $("#btnDelete").button("loading");
        $.post("@this.Url.Action("DeleteFields")", {fieldIdsJson: $.toJSON(fieldIds)}, function(model){
            $("#btnDelete").button("reset");
            loadFields();
        });
        return false;
    });
    
    $("#btnRefresh").click(function(){
        $("#btnRefresh").button("loading");
        loadFields(function(){
            $("#btnRefresh").button("reset");
        });
        return false;
    });

    function loadFields(cb){
        $.get("@this.Url.Action("GetFields")", {objectId: objectId}, function(model){
            if(cb){
                cb();
            }
            if(model.result == 0){
                $("#extendGrid").datagrid("option", "data", model.data);
            }
            else{
                alert(model.message)
            }
        });
    }

    loadFields();
</script>