@using Coldew.Website;
@using Coldew.Website.Models;
@using Coldew.Api;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" href='@this.Url.Content("~/css/smoothness/jquery-ui-1.8.23.custom.css")' rel="stylesheet" />
	<link type="text/css" href='@this.Url.Content("~/css/jquery-ui-datagrid.css")' rel="stylesheet" />
	<link type="text/css" href="@this.Url.Content("~/css/smoothness/jquery-ui-tree.css")" rel="stylesheet" />
    <link type="text/css" href="@this.Url.Content("~/css/bootstrap.css")" rel="stylesheet" />
    <link type="text/css" href="@this.Url.Content("~/css/bootstrap-theme.css")" rel="stylesheet" />
    <link type="text/css" href="@this.Url.Content("~/css/bootstrap-coldew.css")" rel="stylesheet" />
	<link type="text/css" href='@this.Url.Content("~/css/default.css")' rel="stylesheet" />
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-1.8.0.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-ui-1.8.23.custom.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/moment.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery.json-2.3.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-validate.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery.ui.datagrid.js")'></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/jquery.ui.tree.js")"></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/jquery.ui.pager.js")"></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/jquery.ui.chengyuan.js")"></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/chengyuanDialog.js")"></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jianglaiZhipaiDialog.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/renwuSousuoPopover.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/liuchengtuDialog.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/bootstrap.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-extend.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/metadataSelectDialog.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/userInfoMoidfyDialog.js")'></script>
    <!--[if IE]>
	    <script type="text/javascript" src='@this.Url.Content("~/js/placeholder.js")'></script>
    <![endif]-->
    <!--[if lt IE 9]>
	    <script type="text/javascript" src='@this.Url.Content("~/js/html5shiv.js")'></script>
    <![endif]-->
    <script language="javascript" type="text/javascript">
        $.baseUrl = "@this.Url.Content("~/")";
    </script>
</head>

<body style="padding-top: 70px;">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">客户信息管理</a>
        </div>
        <ul class="nav navbar-nav">
        @{
            string workflowMenuClass = this.ViewBag.TopMenu == "Workflow" ? "class='active'" : "";
            string setupMenuClass = this.ViewBag.TopMenu == "Setup" ? "class='active'" : "";
        }
        @foreach (ColdewObjectInfo formInfo in WebHelper.ColdewObjects)
        {
            string metadataMenuClass = this.ViewBag.TopMenu == "Metadata" && formInfo.ID == Request["objectId"] ? "class='active'" : "";
            <li @this.Html.Raw(metadataMenuClass)><a href="@this.Url.Action("Index", "Metadata", new { objectId = formInfo.ID })">@formInfo.Name</a></li>
        }
            <li @this.Html.Raw(workflowMenuClass)><a href="@this.Url.Action("Daibande", "Workflow")">工作流</a></li>
        @if (WebHelper.IsAdmin)
        {
            <li @this.Html.Raw(setupMenuClass)><a href="@this.Url.Action("Index", "Setup")">管理</a></li>
        }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="linkCurrentUserInfo" href="#" class="navbar-link">@WebHelper.CurrentUserInfo.Name</a></li>
            <li><a href="@this.Url.Action("SignOut", "Login")" class="navbar-link">退出</a></li>
        </ul>
      </div>
    </div>
    
    @RenderBody()
    <div id="userInfoMoidfyDialog">
        @{this.Html.RenderPartial("UserInfoMoidfyDialog");}
    </div>
</body>
</html>
<script type="text/javascript">
    var userInfoMoidfyDialog = $("#userInfoMoidfyDialog").userInfoMoidfyDialog();
    $("#linkCurrentUserInfo").click(function () {
        userInfoMoidfyDialog.userInfoMoidfyDialog("modify");
        return false;
    });
</script>