@using Coldew.Api.UI;
@using Coldew.Api;
@using Coldew.Website;
@{
    ColdewObjectInfo objectInfo = this.ViewBag.objectInfo;
    ColdewInput crmInput = WebHelper.ColdewInputFactory.CreateInput(false);
}
<fieldset>
        <legend>基本信息</legend>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("name"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("jingshouren"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("kehu"))
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("shengfen"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("diqu"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("fahuoRiqi"))
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanRiqi"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanJine"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanLeixing"))
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanDanwei"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("daokuanDanwei"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("kaipiaoDanwei"))
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("songhuoFangshi"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("shouhuoDizhi"))
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("shouhuoren"))
            </div>
        </div>
    </fieldset>