@using Coldew.Api;
@using Coldew.Website;
@{
    ViewBag.Title = "填写发货申请单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.TopMenu = "Workflow";
}
<script type="text/javascript" src='@this.Url.Content("~/js/coldewForm.js")'></script>
<script type="text/javascript" src='@this.Url.Content("~/ltlorg-js/chanpinEditDialog.js")'></script>
<h3 style="text-align:center">发货申请单</h3>
<form class="form-horizontal">
    <div id="coldewForm" ></div>
    <div class="form-group">
        <div class='col-sm-4'></div>
        <div class='col-sm-8'>
            <button id="btnSubmit" type="submit" class="btn btn-primary" data-loading-text="提交中...">提交</button>
            <button id="btnCancel" type="button" class="btn btn-default">取消</button>
        </div>
    </div>
</form>
<div id="chanpinEditDialog">
    @{this.Html.RenderPartial("ChanpinEditDialog");}
</div>
<div id="chanpinAddDialog">
    @{this.Html.RenderPartial("ChanpinAddDialog");}
</div>


<script language="javascript" type="text/javascript">
    var formModel = @this.Html.Raw(this.ViewBag.formModelJson);
    var mobanId = '@this.Request["mobanId"]';
    var chanpinEditDialog = $("#chanpinEditDialog").chanpinEditDialog({});
    var chanpinAddDialog = $("#chanpinAddDialog").chanpinEditDialog({});

    var coldewForm = $("#coldewForm").coldewForm({sections: formModel.sections}).data("coldewForm");

    var chanpinGrid = coldewForm.getControl("chanpinGrid");
    chanpinGrid.options.chanpinAddDialog = chanpinAddDialog;
    chanpinGrid.options.chanpinEditDialog = chanpinEditDialog;
    chanpinGrid = $(chanpinGrid.element).chanpinGrid(chanpinGrid.options)
        .data("chanpinGrid");
    coldewForm.setControl("chanpinGrid", chanpinGrid);

     $("#btnSubmit").click(function(){
        if(coldewForm.validate()){
            $("#btnSubmit").button("loading");
            var formValue = coldewForm.getValue();
            $.post("@this.Url.Action("Faqi")", {mobanId: mobanId, biaodanJson: $.toJSON(formValue)}, function(data){
                $("#btnSubmit").button("reset");
                if(data.result == 0){
                    location = "@this.Html.Raw(this.Url.Action("Yibande", "Workflow"))";
                }
                else{
                    alert(data.message);
                }
            });
        }
        return false;
    });

    $("#btnCancel").click(function(){
        location = "@this.Html.Raw(this.Url.Action("FaqiLiucheng", "Workflow"))";
    });

    
</script>

