@using Coldew.Api;
@using Coldew.Website;
@{
    ViewBag.Title = "填写发货申请单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.TopMenu = "Workflow";
}
<script type="text/javascript" src='@this.Url.Content("~/js/coldewForm.js")'></script>
<script type="text/javascript" src='@this.Url.Content("~/ltlorg-js/chanpinEditDialog.js")'></script>
<h3 style="text-align:center">发货申请单</h3>
<form class="form-horizontal">
    <div id="coldewForm" ></div>
    <div id="submitForm">
        <fieldset>
            <legend>流程信息</legend>
                <div class="form-group" style="padding-left: 80px;">
                    <div id="renwuGrid"></div>
                </div>
                <div class="form-group">
                    <label style="max-width: 150px;" class="col-md-4 control-label" >备注</label>
                    <div class="col-md-8">
                        <textarea class='form-control' name='wanchengShuoming' rows='3' ></textarea>
                    </div>
                </div>
        </fieldset>
    </div>
    <div class="form-group">
        <div class='col-sm-4'></div>
        <div class='col-sm-8'>
            <button id="btnSubmit" type="submit" class="btn btn-primary" data-loading-text="提交中...">提交</button>
            <button id="btnCancel" type="button" class="btn btn-default">取消</button>
        </div>
    </div>
</form>
<div id="chanpinEditDialog">
    @{this.Html.RenderPartial("ChanpinEditDialog");}
</div>
<div id="chanpinAddDialog">
    @{this.Html.RenderPartial("ChanpinAddDialog");}
</div>


<script language="javascript" type="text/javascript">
    var renwuId = '@this.Request["renwuId"]';
    var liuchengId = '@this.Request["liuchengId"]';
    var renwuModels = @this.Html.Raw(this.ViewBag.renwuModelsJson);
    var biaodan = @this.Html.Raw(this.ViewBag.biaodanJson);
    var formModel = @this.Html.Raw(this.ViewBag.formModelJson);
    var chanpinEditDialog = $("#chanpinEditDialog").chanpinEditDialog({});
    var chanpinAddDialog = $("#chanpinAddDialog").chanpinEditDialog({});

    var coldewForm = $("#coldewForm").coldewForm({sections: formModel.sections}).data("coldewForm");

    var chanpinGrid = coldewForm.getInput("chanpinGrid");
    chanpinGrid.options.chanpinAddDialog = chanpinAddDialog;
    chanpinGrid.options.chanpinEditDialog = chanpinEditDialog;
    chanpinGrid = $(chanpinGrid.element).chanpinGrid(chanpinGrid.options)
        .data("chanpinGrid");
    coldewForm.setInput("chanpinGrid", chanpinGrid);
    coldewForm.setValue(biaodan);

    var renwuGrid = $("#renwuGrid").datagrid({
		    columns:[
			    {title: "步骤名", width: 100, field:"mingcheng"},
			    {title: "处理人", width: 80, field:"chuliren"},
			    {title: "状态", width: 60, field:"zhuangtaiMingcheng"},
			    {title: "开始时间", width: 150, field:"kaishiShijian"},
			    {title: "完成时间", width: 150, field:"wanchengShijian"},
			    {title: "备注", width: 200, field:"wanchengShuoming"}
		    ],
		    canSort: false,
		    singleSelect: true,
		    showNumberRow: false
	    });

    renwuGrid.datagrid("option", "data", renwuModels);

     $("#btnSubmit").click(function(){
        if(coldewForm.validate()){
            $("#btnSubmit").button("loading");
            var submitFormValue = $("#submitForm").getFormValue();
            var formValue = coldewForm.getValue();
            $.post("@this.Url.Action("Faqi_Tuihui_Submit")", {renwuId: renwuId, liuchengId: liuchengId, wanchengShuoming: submitFormValue.wanchengShuoming, biaodanJson: $.toJSON(formValue)}, function(data){
                $("#btnSubmit").button("reset");
                if(data.result == 0){
                    location = "@this.Html.Raw(this.Url.Action("Yibande", "Workflow"))";
                }
                else{
                    alert(data.message);
                }
            });
        }
        return false;
    });

    $("#btnCancel").click(function(){
        location = "@this.Html.Raw(this.Url.Action("FaqiLiucheng", "Workflow"))";
    });

    
</script>

