@using Coldew.Api;
@using Coldew.Website;
@{
    ViewBag.Title = "填写发货申请单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.TopMenu = "Workflow";
}
<script type="text/javascript" src='@this.Url.Content("~/js/coldewForm.js")'></script>
<script type="text/javascript" src='@this.Url.Content("~/ltlorg-js/chanpinEditDialog.js")'></script>
<h3 style="text-align:center">发货申请单</h3>
<form class="form-horizontal">
    <div id="coldewForm" ></div>
    <div class="form-group">
        <div class='col-sm-4'></div>
        <div class='col-sm-8'>
            <button id="btnSubmit" type="submit" class="btn btn-primary" data-loading-text="提交中...">提交</button>
            <button id="btnCancel" type="button" class="btn btn-default">取消</button>
        </div>
    </div>
</form>
<div id="chanpinEditDialog">
    @{this.Html.RenderPartial("ChanpinEditDialog");}
</div>
<div id="chanpinAddDialog">
    @{this.Html.RenderPartial("ChanpinAddDialog");}
</div>


<script language="javascript" type="text/javascript">
    var selectKehu = {};
    var formModel = @this.Html.Raw(this.ViewBag.formModelJson);
    var chanpinModel = @this.Html.Raw(this.ViewBag.chanpinModelJson);
    var mobanId = '@this.Request["mobanId"]';
    var coldewForm = $("#coldewForm").coldewForm({controls: formModel.controls}).data("coldewForm");
    var chanpinGrid = coldewForm.getInput("chanpinGrid");
    initForm(chanpinGrid.getAddForm());
    initForm(chanpinGrid.getEditForm());

    var kehuInput = coldewForm.getInput("kehu");
    $(kehuInput.element).metadataAutoComplete({objectCode: "kehu", select: function(event, kehu){
        coldewForm.setValue({shouhuoDizhi: kehu.shouhuoDizhi, shouhuoren: kehu.shouhuoren, shouhuorenDianhua: kehu.shouhuorenDianhua, jiekuanFangshi: kehu.jiekuanFangshi });
        selectKehu = kehu;
    }});

    $("#btnSubmit").click(function(){
        if(coldewForm.validate()){
            $("#btnSubmit").button("loading");
            var formValue = coldewForm.getValue();
            $.post("@this.Url.Action("Faqi")", {mobanId: mobanId, biaodanJson: $.toJSON(formValue)}, function(data){
                $("#btnSubmit").button("reset");
                if(data.result == 0){
                    location = "@this.Html.Raw(this.Url.Action("Yibande", "Workflow"))";
                }
                else{
                    alert(data.message);
                }
            });
        }
        return false;
    });

    $("#btnCancel").click(function(){
        location = "@this.Html.Raw(this.Url.Action("FaqiLiucheng", "Workflow"))";
    });

    function initForm(detailsForm){
        var nameInput = detailsForm.getInput("name");
        nameInput.element
            .metadataAutoComplete({objectCode: "chanpin", select: function(event, chanpin){
                detailsForm.setValue({guige: chanpin.guige, danwei: chanpin.danwei, xiaoshouDijia: chanpin.xiaoshouDijia });
            }});
        function jisuanYewufei(formValue){
            var yewulvFangshi = formValue.yewulvFangshi;
            if(yewulvFangshi == "按金额"){
                var yewulv = formValue.yewulv;
                var zongjine = formValue.zongjine;
                detailsForm.setValue({yewufei: yewulv * zongjine});
            }
            else if(yewulvFangshi == "按重量"){
                var yewulv = formValue.yewulv;
                var shuliang = formValue.shuliang;
                detailsForm.setValue({yewufei: yewulv * shuliang});
            }
        }
        function jisuanZongjine(formValue){
            var shuliang = formValue.shuliang;
            var danjia = formValue.xiaoshouDanjia;
            detailsForm.setValue({zongjine: shuliang * danjia});
        }
        function jisuanShijiDanjia(formValue){
            var zongjine = formValue.zongjine;
            var yewufei = formValue.yewufei;
            var shuliang = formValue.shuliang;
            detailsForm.setValue({shijiDanjia: (zongjine-yewufei) / shuliang * 0.83});
        }
        function jisuanButie(formValue){
            var shijiDanjia = formValue.shijiDanjia;
            var shuliang = formValue.shuliang;
            detailsForm.setValue({butie: shijiDanjia * shuliang * 0.01});
        }
        detailsForm.inputing(function(){
            var formValue = detailsForm.getValue();
            jisuanZongjine(formValue);
            jisuanYewufei(formValue);
            jisuanShijiDanjia(formValue);
            jisuanButie(formValue);
        });
        detailsForm.changed(function(){
            var formValue = detailsForm.getValue();
            jisuanZongjine(formValue);
            jisuanYewufei(formValue);
            jisuanShijiDanjia(formValue);
            jisuanButie(formValue);
        });
    }
    
</script>

