@using Coldew.Api.UI;
@using Coldew.Api;
@using Coldew.Website;
@{
    ViewBag.Title = "发货申请单";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" href='@this.Url.Content("~/css/smoothness/jquery-ui-1.8.23.custom.css")' rel="stylesheet" />
	<link type="text/css" href="@this.Url.Content("~/css/smoothness/jquery-ui-tree.css")" rel="stylesheet" />
    <link type="text/css" href="@this.Url.Content("~/css/webui.css")" rel="stylesheet" />
	<link type="text/css" href='@this.Url.Content("~/css/default.css")' rel="stylesheet" />
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-1.8.0.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-ui-1.8.23.custom.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/json.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-validate.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/bootstrap.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/webui.min.js")'></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/jquery.ui.tree.js")"></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/jquery.ui.pager.js")"></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/jquery.ui.chengyuan.js")"></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/chengyuanDialog.js")"></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jianglaiZhipaiDialog.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/renwuSousuoPopover.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/liuchengtuDialog.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-extend.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/metadataSelectDialog.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/userInfoMoidfyDialog.js")'></script>
    <script language="javascript" type="text/javascript">
        $.baseUrl = "@this.Url.Content("~/")";
    </script>
    <script type="text/javascript" src='@this.Url.Content("~/js/coldewForm.js")'></script>
    <script type="text/javascript" src='@this.Url.Content("~/ltlorg-js/chanpinEditDialog.js")'></script>
</head>

<body>
    <h3 style="text-align:center">发货申请单</h3>
    
    <form class="form-horizontal">
        <div id="coldewForm" class="container-fluid"></div>
        
        <fieldset>
            <legend>流程信息</legend>
                <div class="form-group" style="padding-left: 80px;">
                    <div id="renwuGrid"></div>
                </div>
        </fieldset>
    </form>
</body>
</html>

<script language="javascript" type="text/javascript">
    var formModel = @this.Html.Raw(this.ViewBag.formModelJson);
    var biaodan = @this.Html.Raw(this.ViewBag.biaodanJson);
    var renwuModels = @this.Html.Raw(this.ViewBag.renwuModelsJson);

    var coldewForm = $("#coldewForm").coldewForm({sections: formModel.sections}).data("coldewForm");

    var chanpinGrid = coldewForm.getInput("chanpinGrid");
    chanpinGrid = $(chanpinGrid.element).chanpinGrid(chanpinGrid.options)
        .data("chanpinGrid");
    coldewForm.setInput("chanpinGrid", chanpinGrid);
    coldewForm.setValue(biaodan);
    coldewForm.setReadonly(true);

    var renwuGrid = $("#renwuGrid").datagrid({
		    columns:[
			    {title: "步骤名", width: 100, field:"mingcheng"},
			    {title: "处理人", width: 80, field:"chuliren"},
			    {title: "状态", width: 60, field:"zhuangtaiMingcheng"},
			    {title: "开始时间", width: 150, field:"kaishiShijian"},
			    {title: "完成时间", width: 150, field:"wanchengShijian"},
			    {title: "备注", width: 200, field:"wanchengShuoming"}
		    ],
		    canSort: false,
		    singleSelect: true,
		    showNumberRow: false
	    });

    renwuGrid.datagrid("setValue", renwuModels);
</script>
