@using Coldew.Api;
@using Coldew.Website;
@using Coldew.Api.Workflow;
@{
    ViewBag.Title = "审核发货申请单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.TopMenu = "Workflow";
    ColdewObjectInfo objectInfo = this.ViewBag.objectInfo;
    ColdewDetailsInput crmInput = WebHelper.ColdewInputFactory.CreateDetailsInput();
    MetadataInfo biandao = this.ViewBag.biaodan;
    Dictionary<string, PropertyInfo> metadataPropertys = biandao.Propertys.ToDictionary(x => x.Code);
}

<h3 style="text-align:center">发货申请单</h3>
<form class="form-horizontal" id="liuchengForm">
    <fieldset>
        <legend>基本信息</legend>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("name"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("jingshouren"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("kehu"), metadataPropertys)
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("shengfen"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("diqu"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("fahuoRiqi"), metadataPropertys)
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanRiqi"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanJine"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanLeixing"), metadataPropertys)
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("huikuanDanwei"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("daokuanDanwei"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("kaipiaoDanwei"), metadataPropertys)
            </div>
        </div>
        <div class='row'>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("songhuoFangshi"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("shouhuoDizhi"), metadataPropertys)
            </div>
            <div class="col-md-4">
                @crmInput.Input(objectInfo.GetField("shouhuoren"), metadataPropertys)
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>产品信息</legend>
        <div style="padding-left: 80px;">
            <div id="chanpinGrid"></div>
        </div>
    </fieldset>
    <fieldset>
        <legend>备注信息</legend>
        @crmInput.Input(objectInfo.GetField("suihuoFudai"), metadataPropertys)
        @crmInput.Input(objectInfo.GetField("beizhu"), metadataPropertys)
    </fieldset>
    <div id="submitForm">
        <fieldset>
            <legend>流程信息</legend>
                <div class="form-group" style="padding-left: 80px;">
                    <div id="renwuGrid"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" >备注</label>
                    <div class="controls">
                        <textarea class='input-xxlarge' name='wanchengShuoming' rows='3' ></textarea>
                    </div>
                </div>
        </fieldset>
    </div>
    <div class="form-group">
        <div class="controls">
            <button id="btnSubmit" type="submit" class="btn btn-primary" data-loading-text="提交中...">提交</button>
            <button id="btnCancel" type="button" class="btn">取消</button>
        </div>
    </div>
</form>



<script language="javascript" type="text/javascript">
var renwuId = '@this.Request["renwuId"]';
var liuchengId = '@this.Request["liuchengId"]';
var renwuModels = @this.Html.Raw(this.ViewBag.renwuModelsJson);
var biaodan = @this.Html.Raw(this.ViewBag.biaodanJson);

var chanpinGrid = $("#chanpinGrid").datagrid({
		columns:[
			{title: "产品名称", width: 150, field:"name"},
			{title: "规格", width: 80, field:"guige"},
			{ title: "剂型", width: 50, field: "jixing" },
			{title: "生产企业", width: 150, field:"shengchanQiye"},
			{title: "单位", width: 30, field:"danwei"},
			{title: "总数量", width: 50, field:"zongshuliang"},
			{title: "出库单价", width: 60, field:"chukuDanjia"},
			{title: "总金额", width: 60, field:"zongjine"},
			{title: "件数", width: 50, field:"jianshu"}
		],
		canSort: false,
		singleSelect: true,
		showNumberRow: false,
        height: 150,
        selectedRow: function(){
            btnChexiao.prop("disabled", false);
        },
        unselectedRow: function(){
            var rows = renwuGrid.datagrid("getSelectedRows");
            btnChexiao.prop("disabled", rows.length == 0);
        }
	});

chanpinGrid.datagrid("option", "data", biaodan.chanpinList);

var renwuGrid = $("#renwuGrid").datagrid({
		columns:[
			{title: "步骤名", width: 100, field:"mingcheng"},
			{title: "处理人", width: 80, field:"chuliren"},
			{title: "状态", width: 60, field:"zhuangtaiMingcheng"},
			{title: "开始时间", width: 150, field:"kaishiShijian"},
			{title: "完成时间", width: 150, field:"wanchengShijian"},
			{title: "备注", width: 200, field:"wanchengShuoming"}
		],
		canSort: false,
		singleSelect: true,
		showNumberRow: false
	});

renwuGrid.datagrid("option", "data", renwuModels);

$("#liuchengForm").validate({
    sendForm : false,
    onBlur: true,
    onChange: true,
	eachValidField : function() {
		$(this).closest('.form-group').removeClass('error');
        $(this).next('.help-inline').hide();
	},
	eachInvalidField : function() {
		$(this).closest('.form-group').addClass('error');
        $(this).next('.help-inline').show();
	},
    valid: function(){
        var submitFormValue = $("#submitForm").getFormValue();
        var args = {renwuId: renwuId, liuchengId: liuchengId, wanchengShuoming: submitFormValue.wanchengShuoming};
        $("#btnSubmit").button("loading");
        $.post("@this.Url.Action("Shenhe")", args, function(data){
            $("#btnSubmit").button("reset");
            if(data.result == 0){
                location = "@this.Html.Raw(this.Url.Action("Yibande", "Workflow"))";
            }
            else{
                alert(data.message);
            }
        });
    }
})
.setFormValue(biaodan);
$("#btnCancel").click(function(){
    location = "@this.Html.Raw(this.Url.Action("FaqiLiucheng", "Workflow"))";
});

</script>

