@using Coldew.Website;
@using Coldew.Website.Models;
@using Coldew.Api;
<ul class="nav nav-list">
    <li class="nav-header">设置</li>
    @{
        string indexAreaMenuClass = this.ViewBag.LeftMenu == "Index" ? "class='active'" : "";
        string customerAreaMenuClass = this.ViewBag.LeftMenu == "CustomerArea" ? "class='active'" : "";
    }
    <li @this.Html.Raw(indexAreaMenuClass)><a href="@this.Url.Action("Index")">基本设置</a></li>
    <li @this.Html.Raw(customerAreaMenuClass)><a href="@this.Url.Action("CustomerArea")">客户区域配置</a></li>
    @foreach (ColdewObjectInfo formInfo in WebHelper.ColdewObjects)
    {
        string metadataMenuClass = formInfo.ID == Request["objectId"] ? "class='active'" : "";
        <li @this.Html.Raw(metadataMenuClass)><a href="@this.Url.Action("Extend", new { objectId = formInfo.ID })">@string.Format("{0}{1}", formInfo.Name, "扩展")</a></li>
    }
</ul>