@using Coldew.Api;
@using Coldew.Website;
@{
    ViewBag.Title = "编辑订单信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.TopMenu = "Metadata";
}
<script type="text/javascript" src='@this.Url.Content("~/js/coldewForm.js")'></script>
<script type="text/javascript" src='@this.Url.Content("~/ltlorg-js/chanpinEditDialog.js")'></script>
<script type="text/javascript" src='@this.Url.Content("~/ltlorg-js/shoukuanEditDialog.js")'></script>
<div class="container-fluid">
    <h3 style="text-align:center">编辑订单信息</h3>
    <form class="form-horizontal">
        <div id="coldewForm" ></div>
        <div class="form-group">
            <div class='col-sm-4'></div>
            <div class='col-sm-8'>
                <button id="btnSave" type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                <button id="btnCancel" type="button" class="btn btn-default" >取消</button>
            </div>
        </div>
    </form>
</div>

<script language="javascript" type="text/javascript">
    var objectId = "@Request["objectId"]";
    var formModel = @this.Html.Raw(this.ViewBag.formModelJson);
    var shoukuanModel = @this.Html.Raw(this.ViewBag.shoukuanModelJson);
    var metadataId = "@Request["metadataId"]";
    var returnUrl = "@this.Html.Raw(this.Url.Action("Index", "Metadata", new { objectId = Request["objectId"], viewId = Request["viewId"] }))";
    var metadataInfo = @this.Html.Raw(this.ViewBag.metadataInfoJson);
    
    var coldewForm = $("#coldewForm").coldewForm({controls: formModel.controls}).data("coldewForm");
    var kehuInput = coldewForm.getInput("kehu");
    $(kehuInput.element).metadataAutoComplete({objectCode: "kehu", select: function(event, kehu){
        coldewForm.setValue({shouhuoDizhi: kehu.shouhuoDizhi, shouhuoren: kehu.shouhuoren, shouhuorenDianhua: kehu.shouhuorenDianhua, jiekuanFangshi: kehu.jiekuanFangshi });
        chanpinAddForm.setDefaultValue({yewulv: kehu.yewulv, yewulvFangshi: kehu.yewulvFangshi});
    }});
    coldewForm.setValue(metadataInfo);
    var chanpinGrid = coldewForm.getInput("chanpinGrid");
    var chanpinAddForm = chanpinGrid.getAddForm();
    var chanpinEditForm = chanpinGrid.getEditForm();
    bindChanpinFormEvent(chanpinAddForm);
    bindChanpinFormEvent(chanpinEditForm);
    
    var shoukuanGrid = coldewForm.getInput("shoukuanGrid");
    var addForm = shoukuanGrid.getAddForm();
    var editForm = shoukuanGrid.getEditForm();
    bindShoukuanFormEvent(addForm, coldewForm);
    bindShoukuanFormEvent(editForm, coldewForm);

    $("#btnSave").click(function(){
        if(coldewForm.validate()){
            $("#btnSave").button("loading");
            var formValue = coldewForm.getValue();
            $.post("@this.Url.Action("EditPost")", {objectId: objectId, json: $.toJSON(formValue), metadataId: metadataId}, function(data){
                $("#btnSave").button("reset");
                if(data.result == 0){
                    location = returnUrl;
                }
                else{
                    alert(data.message);
                }
            });
        }
        return false;
    });
    $("#btnCancel").click(function(){
        location = returnUrl;
    });
</script>

