@using Coldew.Api;
@using Coldew.Website;
@using Coldew.Website.Models;
@{
    string shenqingLiuchengCaidanClass = this.ViewBag.LiuchengCaidan == "FaqiLiucheng" ? "class='active'" : "";
    string liuchengDaibandeCaidanClass = this.ViewBag.LiuchengCaidan == "Daibande" ? "class='active'" : "";
    string liuchengYibandeCaidanClass = this.ViewBag.LiuchengCaidan == "Yibande" ? "class='active'" : "";
    string liuchengGuidangdeCaidanClass = this.ViewBag.LiuchengCaidan == "Guidangde" ? "class='active'" : "";
}
<ul class="nav nav-list">
    <li class="nav-header">流程</li>
    <li @this.Html.Raw(shenqingLiuchengCaidanClass)><a href="@this.Url.Action("FaqiLiucheng")">发起流程</a></li>
    <li @this.Html.Raw(liuchengDaibandeCaidanClass)><a href="@this.Url.Action("Daibande")">待办的任务</a></li>
    <li @this.Html.Raw(liuchengYibandeCaidanClass)><a href="@this.Url.Action("Yibande")">已办的任务</a></li>
    <li @this.Html.Raw(liuchengGuidangdeCaidanClass)><a href="@this.Url.Action("Guidangde")">完成的流程</a></li>
</ul>